image:
  repository: ghcr.io/fossum/bad-employee-bot
  pullPolicy: IfNotPresent
  # The tag is intentionally left blank. It will be provided by the HelmRelease.
  # This allows FluxCD's image automation to update it.
  tag: "latest"

nameOverride: ""
fullnameOverride: ""
existingSecret: ""
replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 1000m
    memory: 500Mi

cnpg:
  main:
    enabled: true
    user: employee
    database: bad_employee
    cluster:
      storage:
        size: 10Gi
      walStorage:
        size: 10Gi

service:
  main:
    enabled: false
    main:
      enabled: false

workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          env:
            DISCORD_APP_TOKEN: ""
            GEMINI_API_KEY: ""
            BAD_EMPLOYEE_DB: "bad_employee"
            BAD_EMPLOYEE_USER:
              secretKeyRef:
                name: '{{ .Release.Name }}-cnpg-app'
                key: username
            BAD_EMPLOYEE_PASS:
              secretKeyRef:
                name: '{{ .Release.Name }}-cnpg-app'
                key: password
            BAD_EMPLOYEE_HOST:
              secretKeyRef:
                name: '{{ .Release.Name }}-cnpg-app'
                key: host
            BAD_EMPLOYEE_PORT: "5432"
