services:
  app:
    image: mcr.microsoft.com/devcontainers/python:1-3.12-bullseye

    # Mount the project folder into the container
    volumes:
      - ..:/workspace:cached

    # Keep the container running
    command: sleep infinity

    environment:
      - PIPENV_VENV_IN_PROJECT=1

    # Depend on the database service
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=bad_employee
      - POSTGRES_USER=employee
      - POSTGRES_PASSWORD=password

volumes:
  postgres-data:
